.photo-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    padding: 0;
    width: 100%;
    overflow-x: scroll;
    height: 120px;
    transition: all .3s ease-in-out;
    /*transform: translateX(200px);*/
}

.bar-item-container {
    /*overflow-x: scroll;*/
    transition: all .3s ease-in-out;
    width: 500px;
}

ul li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bar-item {
    object-fit: cover;
    height: 100px;
    width: 100px;
    transition: opacity .3s ease-in-out;
    opacity: 0.6;
}

.bar-item:hover {
    opacity: 1;
}

.bar-button {
    width: 70px;
    height: 70px;
    margin: 10px 10px;
    border: none;
    background: none;
    font-size: 60px;
    opacity: 0.7;
    transition: all .3s ease-in-out;
    outline: none;
}

.bar-button:hover {
    opacity: 1;
}