.photo-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    padding: 0;
    width: 100%;
    overflow-x: scroll;
    height: 130px;
}

.bar-item-container {
    width: 500px;
}

ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    margin: 10px 0;
    transition: all .3s ease-in-out;
}

li.active {
    animation-duration: 0.5s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

@keyframes slidein {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-10px);
    }
}

.bar-item {
    object-fit: cover;
    height: 100px;
    width: 100px;
}

li:hover {
    opacity: 1;
}

li.active {
    opacity: 1;
    transform: translateY(-5px);
}

.bar-button {
    width: 70px;
    height: 70px;
    margin: 10px 10px;
    border: none;
    background: none;
    font-size: 60px;
    opacity: 0.6;
    transition: all .3s ease-in-out;
    outline: none;
}

.bar-button:hover {
    opacity: 1;
}