.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  /*border: 2px blue solid;*/
}

.app-bar {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.app-bar button {
  height: 30px;
  width: 100px;
  background-color: lightblue;
  border-radius: 20px;
  outline: none;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  /*border: 2px blue solid;*/
}

.Modal {
  position: absolute;
  height: 700px;
  width: 1190px;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  transition: all .3s ease-in-out;
  background-color: white;
  border: solid black 1px;
  display: flex;
  justify-content: center;
}

.container-in-modal {
  width: 100%;
  height: 100%;
  background: no-repeat;
  object-fit: contain;
  display: flex;
  justify-content: center;
}

.ReactModal__Content {
  opacity: 0;

  background-size: cover;
}

.ReactModal__Content--after-open {
  opacity: 1;
  transition: opacity 150ms;
}

.ReactModal__Content--before-close {
  opacity: 0;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  background-size: 100%;
}

.left, .right {
  /*border: solid black 2px;*/
  width: 25%;
  height: 350px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  font-size: 250px;
  align-self: flex-start;
}

.left:hover {
  opacity: 0.2;
}

.right:hover {
  opacity: 0.2;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*border: solid black 2px;*/
  width: 800px;
}

#modal-img {
  height: 100%;
}
